.list-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-content {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 500;
    color: #000000;
    line-height: 19px;
}
.category-tag {
    height: 19px;
    width: 19px;
    background-color: brown;
    margin-left: 15px;
}
.bullet-list {
    width: 14px;
    height: 14px;
    border: 2.5px solid #CCCCCC;
    border-radius: 50%;
}
.delete-button {
    color: #CCCCCC;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 4px;
}
.delete-button:hover {
    color: #F77062;
}