.list-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-content {
    font-size: 16px;
    margin: 0px 0px 0px 15px;
    font-weight: 500;
    color: #000000;
    line-height: 19px;
    word-break: break-word; 
}
.category-tag {
    height: 19px;
    width: 19px;
    background-color: brown;
    margin-left: 15px;
}
.bullet-list {
    width: 14px;
    height: 14px;
    border: 2.5px solid #CCCCCC;
    border-radius: 50%;
}
.bullet-list:hover {
    background-color: #F77062;
    border: 2.5px solid #F77062;
}
