::placeholder {
    color: #CCCCCC;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    line-height: 19px;
}

form {
  margin-top: 50px;
  width: 100%;
}

form input {
  border: none;
  background: transparent;
  border-bottom: 1.5px solid #CCCCCC;
  padding-left: 34px;
  padding-bottom: 11px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

form button {
  background: transparent;
  border: 0;
  color: #fff;
}